.hero {
  white-space: pre-line;
}

.hero__content {
  font-family: Inter;
  min-height: $banner-min-height;
  max-height: $hero-max-height;

  .display-1 {
    @extend .py-3;
    color: $white;
    top: 10%;
    left: 20%;
    font-style: italic;
    max-width: 20%;
    position: absolute;

    p {
      font-style: normal;
    }
  }

  div {
    min-height: $banner-min-height;
    max-height: $hero-max-height;
  }

  .hero__image {
    min-height: $banner-min-height;
    max-height: $hero-max-height;
    width: 100%;
  }
}

@include media-breakpoint-down(md) {
  .hero {
    min-height: 250px;
    max-height: 400px;

    .display-1 {
      max-width: 100%;
    }
  }
}